In [18]:
import pandas as pd
import numpy as np

sheet1 = pd.read_csv("../sheet0_num.csv").drop(["ornament", "color"],axis=1)
sheet2 = pd.read_csv("../sheet1_1.csv").fillna(0)

In [19]:
sheet2 = pd.concat([
    sheet2[['id',]], 
    sheet2.drop(columns=['id', 'weathered']).apply(
        lambda x: ((x-np.min(x))/(np.max(x)-np.min(x)) * 100)
    )
], axis=1)
sheet2

,id,sio,nao,ko,cao,mgo,alo,feo,cuo,pbo,bao,po,sro,sno,so
0,1,70.510478,0.000000,68.801653,72.643678,31.868132,27.405858,28.807947,36.613056,0.000000,0.000000,8.280255,0.000000,0.0,2.445141
1,2,34.991940,0.000000,7.231405,26.896552,43.223443,39.958159,30.794702,2.459792,67.554479,0.000000,25.265393,16.964286,0.0,0.000000
2,3,89.554003,0.000000,35.743802,23.103448,0.000000,28.312413,0.000000,7.379376,0.356075,0.000000,4.670913,0.000000,0.0,0.000000
3,3,62.321333,0.000000,85.192837,67.471264,40.659341,38.354254,35.761589,48.155156,2.008261,8.067701,4.953999,8.928571,0.0,0.000000
4,4,66.802794,0.000000,66.597796,81.839080,57.142857,44.909344,34.105960,20.624409,0.000000,0.000000,5.590941,0.000000,0.0,2.257053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,54,14.390113,0.000000,0.000000,0.000000,40.659341,25.453278,0.000000,12.677389,83.264492,0.000000,100.000000,100.000000,0.0,0.000000
65,55,48.672757,34.217172,0.000000,12.988506,0.000000,10.111576,0.000000,8.136235,46.887908,22.425952,2.476999,0.000000,0.0,0.000000
66,56,27.329393,0.000000,0.000000,13.908046,0.000000,12.900976,0.000000,7.473983,58.752314,43.582511,17.975938,0.000000,0.0,0.000000
67,57,23.320795,0.000000,0.000000,15.057471,0.000000,15.202232,0.000000,10.974456,64.235864,48.801128,0.000000,0.000000,0.0,0.000000
68,58,28.662010,0.000000,2.341598,40.114943,28.937729,24.546722,14.238411,29.612110,56.046147,21.607898,63.623496,21.428571,0.0,0.000000

In [20]:
data=pd.merge(sheet1, sheet2,on="id")
data

,id,type,degree,sio,nao,ko,cao,mgo,alo,feo,cuo,pbo,bao,po,sro,sno,so
0,1,1,0,70.510478,0.000000,68.801653,72.643678,31.868132,27.405858,28.807947,36.613056,0.000000,0.000000,8.280255,0.000000,0.0,2.445141
1,2,0,1,34.991940,0.000000,7.231405,26.896552,43.223443,39.958159,30.794702,2.459792,67.554479,0.000000,25.265393,16.964286,0.0,0.000000
2,3,1,0,89.554003,0.000000,35.743802,23.103448,0.000000,28.312413,0.000000,7.379376,0.356075,0.000000,4.670913,0.000000,0.0,0.000000
3,3,1,0,62.321333,0.000000,85.192837,67.471264,40.659341,38.354254,35.761589,48.155156,2.008261,8.067701,4.953999,8.928571,0.0,0.000000
4,4,1,0,66.802794,0.000000,66.597796,81.839080,57.142857,44.909344,34.105960,20.624409,0.000000,0.000000,5.590941,0.000000,0.0,2.257053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,54,0,1,14.390113,0.000000,0.000000,0.000000,40.659341,25.453278,0.000000,12.677389,83.264492,0.000000,100.000000,100.000000,0.0,0.000000
65,55,0,0,48.672757,34.217172,0.000000,12.988506,0.000000,10.111576,0.000000,8.136235,46.887908,22.425952,2.476999,0.000000,0.0,0.000000
66,56,0,1,27.329393,0.000000,0.000000,13.908046,0.000000,12.900976,0.000000,7.473983,58.752314,43.582511,17.975938,0.000000,0.0,0.000000
67,57,0,1,23.320795,0.000000,0.000000,15.057471,0.000000,15.202232,0.000000,10.974456,64.235864,48.801128,0.000000,0.000000,0.0,0.000000
68,58,0,1,28.662010,0.000000,2.341598,40.114943,28.937729,24.546722,14.238411,29.612110,56.046147,21.607898,63.623496,21.428571,0.0,0.000000

In [16]:
data.to_csv('../std_data.csv', index=False)